// $backgroundColor: #d2cca1;
// $secondaryColor: #753742;
// $fontColor: #4f3130;
// $accentColor: #587792;
// $borderColor: #dbd4d3;

$backgroundWarmth: #3c3a38; 
$accentBorders: #262323;
$accentButtons: #d0d0d3; 
$backgroundLight: #292e32;
$textOnLightBackground: #ffffff; 
$linkColor: #eaa278; 
$textOnDarkBackground: #ffffff; 
$borderColor: #dbd4d3; 



$darkShade1: #000000;
$lightShade1: #F0E7E1;
$lightAccent1: #d2cca1;
$mainBrandColor: #7b675b;
$darkAccent1: #24292e;

